<!-- Start Page content -->
          <div class="content">
              <div class="container-fluid">

                  <div class="page-title-box">
                      <span class="h4 page-title">Organizationss </span>
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/">Home</a></li>
                          <li class="breadcrumb-item"><a href="organizations.html">Organizations</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Utrecht University</li>
                      </ol>
                  </div>

                  <div class="row">
                      <div class="col-lg-12">
                          <div class="card-box">

                              <h1><i class="fa fa-building-o"></i> Utrecht University</h1>
                              
                              <div class="row my-5">
                                      <div class="col">
                                          <button type="button" class="btn btn-secondary btn-lg mr-3">Back</button>
                                          <button type="button" class="btn btn-primary btn-lg">Edit Organization</button>
                                      </div>
                                      <!-- /.col -->
                                  </div>
                                  <!-- /.row -->

                                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                                          <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">General</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Mailing Address</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Contacts</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Financial</a>
                                          </li>
                                          <li class="nav-item">
                                              <a class="nav-link" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">Contracts</a>
                                          </li>
                                        </ul>

                                        <div class="tab-content">
                                          <div class="tab-pane active" id="tab1" role="tabpanel" aria-labelledby="home-tab">

                                          <h3>General</h3>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <ul class="list-unstyled list-split-item">
                                                          <li><strong>Type</strong> Employer</li>
                                                          <li><strong>Level</strong> Operating Company</li>
                                                          <li><strong>Main Company</strong> Alpha Company</li>
                                                          <li><strong>Chamber of Commerce</strong> 000-000-000</li>
                                                          <li><strong>Phone Number</strong> 000-000-000</li>
                                                          <li><strong>Email Address</strong> email@gmail.com</li>
                                                      </ul>
                                              </div>
                                              <!-- /.col-md-8 -->
                                          </div>
                                          <!-- /.row -->

                                          </div>
                                          <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="profile-tab">



                                                  <div class="row">
                                                      <div class="col-md-5">

                                                          <h3>Mailing Address</h3>

                                                          <ul class="list-unstyled list-split-item">
                                                                  <li><strong>Building</strong> Building Name</li>
                                                                  <li><strong>Address</strong> Stationsweg 24 A</li>
                                                                  <li><strong>Postcode</strong> 1461EJ</li>
                                                                  <li><strong>Place</strong> Purmerend</li>
                                                                  <li><strong>Country</strong> Netherlands</li>
                                                              </ul>
                                                      </div>
                                                      <!-- /.col-md-8 -->
                                                      <div class="col-md-5">

                                                              <h3>Visiting Address</h3>
                                                              <ul class="list-unstyled list-split-item">
                                                                      <li><strong>Building</strong> Building Name</li>
                                                                      <li><strong>Address</strong> Stationsweg 24 A</li>
                                                                      <li><strong>Postcode</strong> 1461EJ</li>
                                                                      <li><strong>Place</strong> Purmerend</li>
                                                                      <li><strong>Country</strong> Netherlands</li>
                                                                  </ul>
                                                          </div>
                                                          <!-- /.col-md-8 -->
                                                  </div>
                                                  <!-- /.row -->
                                          </div>
                                          <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="messages-tab">

                                                  <h3>Contacts</h3>
                                                  <div class="table-responsive">
                                                          <table class="table table-hover table-centered table-striped m-0">
                                                              <thead>
                                                                  <tr>
                                                                      <th>Name</th>
                                                                      <th>Work Phone</th>
                                                                      <th>Mobile Phone</th>
                                                                      <th>Email Address</th>
                                                                      <th>Type</th>
                                                                      <th class="text-center">Action</th>
                                                                  </tr>
                                                              </thead>
                                                              <tbody>
                                                                  <tr>
                                                                      <td>M.J. Harry Last Name</td>
                                                                      <td>000-000-000</td>
                                                                      <td>000-000-000</td>
                                                                      <td>email@utrecht.edu</td>
                                                                      <td>employer</td>
                                                                      <td class="text-center"><a href="#" class="btn btn-sm btn-link"><i class="fa fa-pencil"></i> Edit</a></td>
                                                                  </tr>
                                                                  <tr>
                                                                          <td>M.J. Harry Last Name</td>
                                                                          <td>000-000-000</td>
                                                                          <td>000-000-000</td>
                                                                          <td>email@utrecht.edu</td>
                                                                          <td>employer</td>
                                                                          <td class="text-center"><a href="#" class="btn btn-sm btn-link"><i class="fa fa-pencil"></i> Edit</a></td>
                                                                      </tr>
                                                                      <tr>
                                                                              <td>M.J. Harry Last Name</td>
                                                                              <td>000-000-000</td>
                                                                              <td>000-000-000</td>
                                                                              <td>email@utrecht.edu</td>
                                                                              <td>employer</td>
                                                                              <td class="text-center"><a href="#" class="btn btn-sm btn-link"><i class="fa fa-pencil"></i> Edit</a></td>
                                                                          </tr>
                                                                          <tr>
                                                                              <td>M.J. Harry Last Name</td>
                                                                              <td>000-000-000</td>
                                                                              <td>000-000-000</td>
                                                                              <td>email@utrecht.edu</td>
                                                                              <td>employer</td>
                                                                              <td class="text-center"><a href="#" class="btn btn-sm btn-link"><i class="fa fa-pencil"></i> Edit</a></td>
                                                                          </tr>

                                                              </tbody>
                                                          </table>
                                                      </div>

                                                      <button type="button" class="btn btn-primary">Add Contact</button>

                                          </div>
                                          <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="settings-tab">



                                                  <div class="row">
                                                          <div class="col-md-5">

                                                                  <h3>Financial</h3>
                                                              <ul class="list-unstyled list-split-item">
                                                                      <li><strong>VAT Number</strong> 000-000-000</li>
                                                                      <li><strong>Destination</strong> Contact Person</li>
                                                                      <li><strong>Contact</strong> James Robinson</li>
                                                                      <li><strong>Reference</strong> #0009042</li>
                                                                      <li><strong>Debiteurnr</strong> Financial Institution Name</li>
                                                                      <li><strong>Invoice Email Address</strong> company@company.com</li>
                                                                  </ul>
                                                          </div>
                                                          <!-- /.col-md-8 -->
                                                          <div class="col-md-5">

                                                                  <h3>Billing Address</h3>
                                                                  <ul class="list-unstyled list-split-item">
                                                                          <li><strong>Building</strong> Building Name</li>
                                                                          <li><strong>Address</strong> Stationsweg 24 A</li>
                                                                          <li><strong>Postcode</strong> 1461EJ</li>
                                                                          <li><strong>Place</strong> Purmerend</li>
                                                                          <li><strong>Country</strong> Netherlands</li>
                                                                      </ul>
                                                              </div>
                                                              <!-- /.col-md-8 -->
                                                      </div>
                                                      <!-- /.row -->

                                          </div>
                                          <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="settings-tab">

                                              <h3>Contracts</h3>
                                              <div class="table-responsive">
                                                      <table class="table table-hover table-centered table-striped m-0">
                                                          <thead>
                                                              <tr>
                                                                  <th>Number</th>
                                                                  <th>Name</th>
                                                                  <th>BSN</th>
                                                                  <th>Logged On</th>
                                                                  <th class="text-center">Actions</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody>
                                                              <tr>
                                                                  <td>
                                                                      12345
                                                                  </td>
                                                                  <td>
                                                                      J.D. Long Last Name
                                                                  </td>
                                                                  <td>
                                                                      0000000000
                                                                  </td>
                                                                  <td>
                                                                      00-00-0000
                                                                  </td>
                                                                  <td class="text-center">
                                                                      <a href="#" class="btn btn-sm btn-link"><i class="fa fa-clipboard"></i> View Client</a>
                                                                      <a href="#" class="btn btn-sm btn-link"><i class="fa fa-pencil"></i> Edit</a>
                                                                  </td>
                                                              </tr>
                                                              <tr>
                                                                      <td>
                                                                          12345
                                                                      </td>
                                                                      <td>
                                                                          J.D. Long Last Name
                                                                      </td>
                                                                      <td>
                                                                          0000000000
                                                                      </td>
                                                                      <td>
                                                                          00-00-0000
                                                                      </td>
                                                                      <td class="text-center">
                                                                          <a href="#" class="btn btn-sm btn-link"><i class="fa fa-clipboard"></i> View Client</a>
                                                                          <a href="#" class="btn btn-sm btn-link"><i class="fa fa-pencil"></i> Edit</a>
                                                                      </td>
                                                                  </tr>
                                                                  <tr>
                                                                          <td>
                                                                              12345
                                                                          </td>
                                                                          <td>
                                                                              J.D. Long Last Name
                                                                          </td>
                                                                          <td>
                                                                              0000000000
                                                                          </td>
                                                                          <td>
                                                                              00-00-0000
                                                                          </td>
                                                                          <td class="text-center">
                                                                              <a href="#" class="btn btn-sm btn-link"><i class="fa fa-clipboard"></i> View Client</a>
                                                                              <a href="#" class="btn btn-sm btn-link"><i class="fa fa-pencil"></i> Edit</a>
                                                                          </td>
                                                                      </tr>
                                                                      <tr>
                                                                              <td>
                                                                                  12345
                                                                              </td>
                                                                              <td>
                                                                                  J.D. Long Last Name
                                                                              </td>
                                                                              <td>
                                                                                  0000000000
                                                                              </td>
                                                                              <td>
                                                                                  00-00-0000
                                                                              </td>
                                                                              <td class="text-center">
                                                                                  <a href="#" class="btn btn-sm btn-link"><i class="fa fa-clipboard"></i> View Client</a>
                                                                                  <a href="#" class="btn btn-sm btn-link"><i class="fa fa-pencil"></i> Edit</a>
                                                                              </td>
                                                                          </tr>
                                                          </tbody>
                                                      </table>
                                                  </div>

                                                  <nav class="mt-3">
                                                          <ul class="pagination">
                                                              <li class="page-item disabled">
                                                              <span class="page-link">Previous</span>
                                                              </li>
                                                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                              <li class="page-item active">
                                                              <span class="page-link">
                                                                  2
                                                                  <span class="sr-only">(current)</span>
                                                              </span>
                                                              </li>
                                                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                              <li class="page-item">
                                                              <a class="page-link" href="#">Next</a>
                                                              </li>
                                                          </ul>
                                                      </nav>

                                          </div>
                                        </div>

                          </div>
                          <!-- /.card-box -->
                      </div>
                      <!-- /.col-lg-12 -->
                  </div>
                  <!-- end row -->

              </div> <!-- container -->

          </div> <!-- content -->


          <!-- ========== boilerplate========== -->
          <?php include 'partials/boilerplate.html';?>
          <!-- boilerplate End -->

      </div>


      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->

  </div>
