

    <div class="login-page">

        <!-- Begin page -->
        <div  class="container-fluid">



            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->

            <div class="absolute-center">


                    <div class="card-box form-signin">
                            <h2 class="text-uppercase text-center pb-4">
                                <a href="index.html" class="text-success">
                                    <span><%=image_tag "cenzo-logo.png", alt: "Cenzo", width: "60%"%></span>
                                </a>
                            </h2>


                            <h4>
                                Register
                            </h4>

                            <p>
                                Would you like become a Cenzo Partner? Please email us or call us during regular business hours: M-F, 9-5PM
                            </p>

                            <h4>
                                T. (020) 420 29 99<br>
                                E. info@cenzo.nl
                            </h4>

                    </div>
                    <!-- /.card-box -->


                <!-- ========== boilerplate========== -->
                <%= render 'layouts/shared/boilerplate.html' %>
                <!-- boilerplate End -->


            </div>
            <!-- END login-page -->

            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

    </div>
