

    <div class="login-page">

        <!-- Begin page -->
        <div  class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->

            <div class="absolute-center">

                <div class="card-box form-signin">


                        <h2 class="text-uppercase text-center pb-4">
                            <a href="" class="text-success">
                                <span><%= image_tag "cenzo-logo.png", alt: "Cenzo", width: "60%" %></span>
                            </a>
                        </h2>

                        <h4>Contact Cenzo Support</h4>

                        <p>
                            Do you have a question or need help logging into the system? Please email us or call us during regular business hours: M-F, 9-5PM
                        </p>

                        <h4>
                            T. (020) 420 29 99<br>
                            E. info@cenzo.nl
                        </h4>

                </div>
                <!-- /.card-box -->

            </div>
            <!-- END login-page -->

            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->

    </div>
