<div class="left side-menu">

    <div class="slimscroll-menu" id="remove-scroll">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="index.html" class="logo">
                <button class="button-menu-mobile">
                    <i class="fe fe-menu"></i>
                    <% logo = asset_path "cropped-CENZO_LOGO_DEF-met-rand2.png"%>
                    <%= image_tag  logo, alt: "", class: "img-fluid" %>
                </button>

            </a>
        </div>

        <!-- User box

        <div class="slimscroll-menu in" id="remove-scroll" style="overflow: hidden; width: auto; height: 851px;">

      -->
        <div class="user-box">

        </div>


        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <!--<li class="menu-title">Navigation</li>-->


                <li>
                    <a href="index.html">

                        <i class="fe fe-monitor"></i><span class="badge badge-danger badge-pill pull-right">7</span> <span> Dashboard </span>
                    </a>
                </li>


                <li>
                    <a href="#">
                        <i class="fe fe-check-square"></i> <span> COV </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fe fe-briefcase"></i> <span> Organizations </span>
                    </a>
                </li>
                <li>
                    <a href="clients.html">
                        <i class="fe fe-user"></i> <span> Clients </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fe fe-clock"></i> <span> Treatments </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fe fe-file-text"></i> <span> Invoices </span>
                    </a>
                </li>



                <li>
                    <a href="javascript: void(0);"><i class="fe fe-globe"></i><span> Management </span> <span class="menu-arrow chevron-right"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="#">Sub nav 1</a></li>
                        <li><a href="#">Sub nav 2</a></li>

                    </ul>
                </li>








                <li>
                    <a href="#" class="toggle-slim">
                        <i class="fe fe-arrow-left"></i> <span>Collapse Nav</span>
                    </a>
                </li>





<!--
                <li>
                    <a href="javascript: void(0);"><i class="fi-share"></i> <span> Multi Level </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level nav" aria-expanded="false">
                        <li><a href="javascript: void(0);">Level 1.1</a></li>
                        <li><a href="javascript: void(0);" aria-expanded="false">Level 1.2 <span class="menu-arrow"></span></a>
                            <ul class="nav-third-level nav" aria-expanded="false">
                                <li><a href="javascript: void(0);">Level 2.1</a></li>
                                <li><a href="javascript: void(0);">Level 2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
-->


            </ul>

        </div>
        <!-- Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
